{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://cdn.pixabay.com/photo/2017/06/01/06/24/nomad-2362593_1280.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is who I am.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am from Costa Rica, a place that has inspired me with its rich culture and natural beauty. In my free time, I enjoy exploring new destinations, savoring the delicious local cuisine, and connecting with people from different backgrounds. My love for travel and good food reflects my curiosity, and my interest in technology aligns perfectly with my career in software development.
        </p>
        <p>
          I also believe that technology, much like spirituality, has the power to touch the deepest fibers of our existence. I created this blog with the intention of showcasing my skills as a developer and, at the same time, with the aim of building a community where people can come, share their thoughts, and plant a seed in others' consciousness, connecting us in ways that once seemed impossible. In my role as a programmer, I view technology not merely as a tool, but as a means to transcend barriers and open new dimensions of knowledge and understanding.
        </p>
        <p>
          Currently, I am continuing my education in web development, diving into the latest trends and technologies. My goal is to combine my technical skills with my enthusiasm for continuous learning to create innovative and functional web applications. The possibility of building solutions that positively impact users drives me to move forward and explore new opportunities in this dynamic field.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
